/* styleA1.css */
body {
    background-image: url("../pictures/BookNum.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.star-button {
    position: absolute;
    background-color: transparent; 
    border: none;                 
    cursor: pointer;              
    border-radius: 50%;
    width: 40px;                  
    height: 40px;
    z-index: 10;
    transform: translate(-50%, -50%);
    outline: none;             
}

#star1 { top: 52%; left: 6.5%; }
#star2 { top: 52%; left: 27.5%; }
#star3 { top: 52%; left: 39.5%; }
#star4 { top: 52%; left: 58%; }
#star5 { top: 52%; left: 74%; }
#star6 { top: 52%; left: 88%; }