
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.star-button {
    position: absolute;
    background-color: rgba(255, 0, 0, 0.3); 
    border: 2px solid red; 
    cursor: pointer;
    border-radius: 50%;
    width: 3%;  
    height: 5%;
    transform: translate(-50%, -50%); 
}


#star1 { top: 43%; left: 32.5%; }
#star2 { top: 43%; left: 47.5%; }
#star3 { top: 43%; left: 55.5%; }
#star4 { top: 43%; left: 69%; }
#star5 { top: 43%; left: 81.5%; }
#star6 { top: 43%; left: 91.5%; }